# intermediate files
Win32/
x64/
ipch/
resources/out/
tinyxml2/tinyxml2-cbp/bin/
tinyxml2/tinyxml2-cbp/obj/
tinyxml2/bin/
tinyxml2/temp/
.artifacts/
.projects/
*.sdf
*.suo
*.opensdf
*.user
*.depend
*.layout
*.o
*.vc.db
*.vc.opendb
libtinyxml2.a
xmltest
